<ion-view title="002 Leiturista" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="02Leiturista-heading2" style="color:#000000;text-align:center;" class=" ">0002 - Guia de fiscalização de Campo - LEITURISTA</h4>
        <div class="spacer" style="width: 300px; height: 33px;"></div>
        <form id="02Leiturista-form8" class="list ">
            <ion-item class="item-divider " id="02Leiturista-list-item-divider1">Dados de Inspeção</ion-item>
            <label class="item item-input " id="02Leiturista-input10" name="_campo02_nome">
                <span class="input-label">Nome:</span>
                <input type="text" placeholder="Nome do Leiturista">
            </label>
            <label class="item item-input " id="02Leiturista-input11" name="_campo02_numero">
                <span class="input-label">Nº de Fiscalização:</span>
                <input type="tel" placeholder="001">
            </label>
            <label class="item item-select " id="02Leiturista-select1" name="_campo02_uen">
                <span class="input-label">UEN</span>
                <select>
                    <option>34</option>
                    <option>35</option>
                    <option>50</option>
                </select>
            </label>
            <label class="item item-input " id="02Leiturista-input13" name="_campo02_localidade">
                <span class="input-label">Localidade:</span>
                <input type="text" placeholder="Córrego do Fundao">
            </label>
            <label class="item item-input " id="02Leiturista-input18" name="_campo02_data">
                <span class="input-label">Data</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input " id="02Leiturista-input19" name="_campo02_hora">
                <span class="input-label">Hora de Inicio:</span>
                <input type="time" placeholder="">
            </label>
            <ion-item class="item-divider " id="02Leiturista-list-item-divider2">ITENS DE VERIFICAÇÃO</ion-item>
            <label class="item item-input" name="_campo02_busca">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Busca do questionário">
            </label>
            <div class="item item-body " id="02Leiturista-list-item-container3">
                <p id="02Leiturista-markdown3" style="margin-top:0px;color:#000000;" class=" ">1) O leiturista está devidamente fardado e identificado com crachá? ( Calça e camisa e calçado).</p>
                <form id="02Leiturista-form6" class="list ">
                    <ion-toggle toggle-class="toggle-positive" id="02Leiturista-toggle6" name="_campo02_1a" class=" ">Não conforme / Conforme</ion-toggle>
                    <ion-checkbox name="_campo02_1b">Não se aplica</ion-checkbox>
                </form>
            </div>
            <div class="item item-body " id="02Leiturista-list-item-container4">
                <p id="02Leiturista-markdown4" style="margin-top:0px;color:#000000;" class=" ">2) O leiturista está com a mochila em perfeito estado?</p>
                <form id="02Leiturista-form7" class="list ">
                    <ion-toggle toggle-class="toggle-positive" id="02Leiturista-toggle7" name="_campo02_2a" class=" ">Não Conforme / Conforme</ion-toggle>
                    <ion-checkbox name="_campo02_2b">Não se Aplica</ion-checkbox>
                </form>
            </div>
            <div class="item item-body " id="02Leiturista-list-item-container7">
                <p id="02Leiturista-markdown7" style="margin-top:0px;color:#000000;" class=" ">3) O leiturista está utilizando os EPI'S? (Óculos de segurança, Joelheira, caneleira, cotoveleira, capacete motociclista, colete refletivo).</p>
                <form id="02Leiturista-form12" class="list ">
                    <ion-toggle toggle-class="toggle-positive" id="02Leiturista-toggle10" name="_campo02_3a" class=" ">Não Conforme / Conforme</ion-toggle>
                    <ion-checkbox name="_campo02_3b">Não se Aplica</ion-checkbox>
                </form>
            </div>
            <div class="item item-body " id="02Leiturista-list-item-container8">
                <p id="02Leiturista-markdown8" style="margin-top:0px;color:#000000;" class=" ">4) O PDA e impressora estão acondicionados na capa de proteção?</p>
                <form id="02Leiturista-form13" class="list ">
                    <ion-toggle toggle-class="toggle-positive" id="02Leiturista-toggle11" name="_campo02_4a" class=" ">Não Conforme / Conforme</ion-toggle>
                    <ion-checkbox name="_campo02_4b">Não se Aplica</ion-checkbox>
                </form>
            </div>
            <div class="item item-body " id="02Leiturista-list-item-container9">
                <p id="02Leiturista-markdown9" style="margin-top:0px;color:#000000;" class=" ">5) A quantidade de bobina e selos é suficiente para atender a demanda da rota planejada?</p>
                <form id="02Leiturista-form14" class="list ">
                    <ion-toggle toggle-class="toggle-positive" id="02Leiturista-toggle12" name="_campo02_5a" class=" ">Não Conforme / Conforme</ion-toggle>
                    <ion-checkbox name="_campo02_4b">Não se Aplica</ion-checkbox>
                </form>
            </div>
        </form>
        <button id="02Leiturista-button5" class=" button button-energized  button-block icon-right ion-android-send ">Enviar</button>
    </ion-content>
</ion-view>