<ion-view title="003 Consumidor" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="03Consumidor-heading3" style="color:#000000;text-align:center;" class=" ">0003 - Guia de fiscalização de Campo - CONSUMIDOR</h4>
        <div class="spacer" style="width: 300px; height: 33px;"></div>
        <form id="03Consumidor-form11" class="list ">
            <ion-item class="item-divider " id="03Consumidor-list-item-divider5">Dados de Inspeção</ion-item>
            <label class="item item-input " id="03Consumidor-input14" name="_campo03_nome">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="Nome do Consumidor">
            </label>
            <label class="item item-input " id="03Consumidor-input15" name="_campo03_numero">
                <span class="input-label">Nº de Fiscalização</span>
                <input type="tel" placeholder="001">
            </label>
            <label class="item item-select " id="03Consumidor-select3" name="_campo03_uen">
                <span class="input-label">UEN</span>
                <select>
                    <option>34</option>
                    <option>35</option>
                    <option>50</option>
                    <option>604</option>
                </select>
            </label>
            <label class="item item-input " id="03Consumidor-input17">
                <span class="input-label">Localidade:</span>
                <input type="text" placeholder="Córrego do Fundao">
            </label>
            <ion-item class="item-divider " id="03Consumidor-list-item-divider7">ITENS DE VERIFICAÇÃO</ion-item>
            <label class="item item-input" name="_campo03_busca">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Busca no questionário">
            </label>
            <div class="item item-body " id="03Consumidor-list-item-container5">
                <p id="03Consumidor-markdown5" style="margin-top:0px;color:#000000;" class=" ">1) As condições de infraestrutura, localização e higiene das instalações estão adequadas?</p>
                <form id="03Consumidor-form9" class="list ">
                    <ion-toggle toggle-class="toggle-positive" id="03Consumidor-toggle8" name="_campo03_1a" class=" ">Não conforme / Conforme</ion-toggle>
                    <ion-checkbox name="_campo03_1b">Não se aplica</ion-checkbox>
                </form>
            </div>
            <div class="item item-body " id="03Consumidor-list-item-container6">
                <p id="03Consumidor-markdown14" style="color:#000000;" class=" ">2) A classificação aparente da unidade consumidora(residencial, comercial, industrial), confere com a classificação cadastrada?</p>
                <form id="03Consumidor-form10" class="list ">
                    <ion-toggle toggle-class="toggle-positive" id="03Consumidor-toggle9" name="_campo03_2a" class=" ">Não Conforme / Conforme</ion-toggle>
                    <ion-checkbox name="_campo03_2b">Não se Aplica</ion-checkbox>
                </form>
            </div>
            <div class="item item-body " id="03Consumidor-list-item-container14">
                <p id="03Consumidor-markdown15" style="color:#000000;" class=" ">3) A leitura do medidor está coerente com a efetuada pelo leiturista?</p>
                <form id="03Consumidor-form19" class="list ">
                    <ion-toggle toggle-class="toggle-positive" id="03Consumidor-toggle16" name="_campo03_2a" class=" ">Não Conforme / Conforme</ion-toggle>
                    <ion-checkbox name="_campo03_2b">Não se Aplica</ion-checkbox>
                </form>
            </div>
            <div class="item item-body " id="03Consumidor-list-item-container15">
                <p id="03Consumidor-markdown16" style="color:#000000;" class=" ">4) Caso acontecido, a ocorrência de leitura informada pelo leiturista foi aplicada corretamente?</p>
                <form id="03Consumidor-form20" class="list ">
                    <ion-toggle toggle-class="toggle-positive" id="03Consumidor-toggle17" name="_campo03_2a" class=" ">Não Conforme / Conforme</ion-toggle>
                    <ion-checkbox name="_campo03_2b">Não se Aplica</ion-checkbox>
                </form>
            </div>
            <div class="item item-body " id="03Consumidor-list-item-container16">
                <p id="03Consumidor-markdown17" style="color:#000000;" class=" ">5) O tratamento dispensado ao consumidor foi satisfatório?</p>
                <form id="03Consumidor-form21" class="list ">
                    <ion-toggle toggle-class="toggle-positive" id="03Consumidor-toggle18" name="_campo03_2a" class=" ">Não Conforme / Conforme</ion-toggle>
                    <ion-checkbox name="_campo03_2b">Não se Aplica</ion-checkbox>
                </form>
            </div>
        </form>
        <button id="03Consumidor-button6" class=" button button-energized  button-block icon-right ion-android-send ">Enviar</button>
    </ion-content>
</ion-view>