<ion-view title="Formulario Entrevista" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="formularioEntrevista-form1" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="formularioEntrevista-toggle1" class=" ">Toggle</ion-toggle>
            <ion-radio id="formularioEntrevista-radio1" class=" ">Item 2</ion-radio>
            <label class="item item-input " id="formularioEntrevista-input1">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="">
            </label>
            

            <label class="item item-input " id="formularioEntrevista-input2">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>


<label class="item item-input " id="formularioEntrevista-input2">
                <span class="input-label">Teste 3</span>
                <input type="text" placeholder="">
            </label>




        </form>
    </ion-content>
</ion-view>