<ion-view title="Solicitar Acesso" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="solicitarAcesso-form3" class="list ">
            <ion-list id="solicitarAcesso-list3" class=" ">
                <label class="item item-input " id="solicitarAcesso-input5">
                    <span class="input-label">Nome:</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="solicitarAcesso-input6">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input " id="solicitarAcesso-input7">
                    <span class="input-label">Matricula</span>
                    <input type="tel" placeholder="">
                </label>
            </ion-list>
            <button id="solicitarAcesso-button4" class=" button button-positive  button-block ">Enviar solicitação</button>
        </form>
    </ion-content>
</ion-view>