<ion-view class="mui-bg-dark-linear">
	<button ng-click="modalLoginTerms.hide()" class="mui-button mui-button-icon mui-stick-top-right">
		<i class="material-icons">Fechar</i>
	</button>
	<ion-content>
		<div class="row">
			<div class="col">
				<h2 class="mui-align-center">Termo de Compromisso</h2>
				Este Termo de Uso (“Termo”) contém as “Condições Gerais para USUARIOS”, aplicáveis ao uso dos serviços oferecidos pela QSIT CONSULTORIA, sociedade limitada com sede na Rua Luciano Fernande de Almeida Neto, 55, na cidade de Alto Caparaó, no estado de Minas Gerais, Brasil, CEP 36979-000, inscrita no CNPJ sob o nº 23.229.069/0001-97 (“SIBAC”) e está disponível a todos os usuários por do aplicativo SIBAC para celular (“App” e, conjuntamente com o Site, denominados “Aplicativo”), de forma a viabilizar e facilitar o contato direto entre USUARIO e o MEMBROS.

				Os serviços prestados pelos aplicativos da SIBAC serão regidos pelas cláusulas e condições abaixo.
			</div>
		</div>
	</ion-content>
</ion-view>